/* establish the color scheme of the website. */
:root {
    --primary-color: #25395C;
    --secondary-color: #fac4b2;
    --tertiary-color: #A4B0FF;
    --complimentary-color: #ea7166; 
    --bg-color: #f5e1da;
}

/* set a base for the structure */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* more set up, text and backup coloring */
body {
    color: var(--primary-color);
    background-color: var(--bg-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
}

/* establish global h1, h2, h3 font styling */
h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

p {
    padding: 2%;
}

/* HEADER STYLING */
header {    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    padding: 20px 35px;
    top: 0;
    background-color: var(--secondary-color);
    z-index: 4;
}

header h1 {
    font-weight: bold;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}

/* hover function, only shows when the curser is over the nav list elements */
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

section {
    padding: 1% 0px;
}

/* HERO STYLING */
.hero {
    margin: 0 0 2% 0; 
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    align-content: end;
    flex-wrap: wrap;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    /*if the img doesn't work*/
    background-color: var(--bg-color);
    background-position: center;
    min-height: 300px;
}

.hero h2 {
    padding: 5px 10px;
    background-color: var(--secondary-color);
}

/* SELF STYLING */
.self {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 5px;
}

.self-title {
    border-top: 5px dotted var(--tertiary-color);
}

.self-description {
    text-align: center;
    border: 5px dotted var(--tertiary-color);
    border-bottom: none;
    max-width: 1000px;
}

.self-img{
    border: 5px solid var(--tertiary-color);
}

.self-img img {
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

/* WORK STYLING */

.work-container {
    margin-bottom: 3%;
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.work-title{
    flex: 1 1 10%;
    margin-left: 1%;
}

.jobs-container {
    flex: 1 1 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

.projects{
    background-color: var(--bg-color);
    border: 5px solid var(--tertiary-color);
    max-width: 100%;
    min-height: 300px;
    height: auto;
}

.work-caption {
    background-color: var(--tertiary-color);
    width: 70%;
    max-height: 30%;
    text-decoration: none;
}

.run-buddy {
    flex: 2;
}

.run-buddy-anchor {
    display: block;
    background-image: url("../images/run-buddy.jpg");    
    background-size: cover;
    text-decoration: none;
    color: var(--primary-color);
}
.cocktail-app {
    flex: 1;
    background-image: url("../images/drink-app.jpg");
    background-size: cover;
}

.folder-app {
    flex: 1;
    background-image: url("../images/folders.jpeg");
    background-size: cover;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 40px 35px;
    border-bottom: dotted var(--tertiary-color);
    border-top: dotted var(--tertiary-color);
    margin-bottom: 2%;
}

.contact h2 {
    padding: 1%;
}

.contact a {
    text-decoration: none;
    color: var(--primary-color);
}

.contact nav {
    padding: 1%;
    margin: 7px 0;

}

.contact nav ul {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

.contact nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
} 

.contact nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}


/* MEDIA QUERY FOR 768PX OR LESS 
   I kept it simple and only used one for respacing. */

@media screen and (max-width: 768px) {

    .work-container {
        flex-flow: column wrap;
        align-items: center;
    }
    .jobs-container {
        flex-flow: column wrap;
    }
    .work-title {
        flex: 1;
    }
    .contact {
        flex-direction: column;
        align-items: center;
    }
    .contact h2 {
        border-right: none;
        padding: 1%;
        border-bottom: dotted var(--tertiary-color);
    }
    .contact nav ul {
        flex-direction: column;
        align-items: center;
    }
    .contact nav ul li a {
        font-size: 17px;
    }

}

/* MEDIA QUERY FOR 575PX OR LESS */

@media screen and (min-width: 575px) {

}