:root {
    --primary-color: #25395C;
    --secondary-color: #fac4b2;
    --tertiary-color: #A4B0FF;
    --complimentary-color: #ea7166; 
    --bg-color: #f5e1da;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    color: var(--primary-color);
    background-color: var(--bg-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
    padding: 0 2%;
 
}

/* HEADER STYLING */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    padding: 20px 35px;
    top: 0;
    background-color: var(--secondary-color);
    z-index: 4;
}

header h1 {
    font-weight: bold;
    font-size: xx-large;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

section {
    padding: 30px 60px;
}

/* HERO STYLING */
.hero {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    align-content: end;
    flex-wrap: wrap;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    /*if the img doesn't work*/
    background-color: var(--bg-color);
    background-position: center;
    min-height: 300px;
}

.hero h2 {
    padding: 5px 10px 5px 10px;
    background-color: var(--secondary-color);
}

/* SELF STYLING */
.self {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.self h2 {
    flex: 1 1 30%;
    min-width: 30%;
}

.self-description {
    flex: 1 1 70%;
    min-width: 30%;
}


/* WORK STYLING */

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-title {
    padding: 5px;
}

.jobs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.jobs-container div{
    flex-flow: column wrap;
    background-color: var(--bg-color);
    border: 5px solid var(--tertiary-color);
    max-width: 100%;
    min-height: 300px;
    height: auto;
}

.jobs-container h2, .jobs-container p{
    flex: 1;
    background-color: var(--tertiary-color);
    width: 70%;
    max-height: 30%;
    margin-top: -1%;
    padding: 1%;
}

.run-buddy {
    background-image: url("../images/run-buddy.jpg");
    background-size: cover;
}

.cocktail-app {
    background-image: url("../images/drink-app.jpg");
    background-size: cover;
}

.folder-app {
    background-image: url("../images/folders.jpeg");
    background-size: cover;
}


/*.run-buddy {
    flex-flow: column wrap;
    background-image: url("../images/run-buddy.jpg");
    background-size: cover;
    background-color: var(--bg-color);
    border: 5px solid var(--tertiary-color);
    max-width: 100%;
    min-height: 300px;
    height: auto;
}*/

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 40px 35px;
}

.contact h2 {
    font-size: xx-large;
}

.contact a {
    text-decoration: none;
    color: var(--primary-color);
}

.contact nav {
    margin: 7px 0;   
}

.contact nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

.contact nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
} 

.contact nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

}